doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title #{title} 
        link( rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link( rel="stylesheet" href="/css/main.css")
        
    body
     body
| h1.text-center POSTS
| .album.py-5.bg-light
| .container(v-cloak=&apos;&apos;)
| .row
| .col-md-4(v-for=&apos;post in displayedPosts&apos;)
| .card.mb-4.box-shadow.post-cards
| // 
img.card-img-top(src='dist/img/placeholder-blue-800x600px.png' alt='Card image cap')
|           .card-body
|             h5.capitalize {{post.title}}
|             p.card-text {{post.body.slice(0, 120)}}...
|             .d-flex.justify-content-between.align-items-center
|               .btn-group
|                 //
button.btn.btn-sm.btn-outline-secondary(type='button') View
button.btn.btn-sm.btn-outline-secondary(type='button') Edit
|     .clearfix.btn-group.col-md-2.offset-md-5
|       button.btn.btn-sm.btn-outline-secondary(type=&apos;button&apos; v-if=&apos;page != 1&apos; @click=&apos;page--&apos;)
|         | &lt;&lt;
|       button.btn.btn-sm.btn-outline-secondary(type=&apos;button&apos; v-for=&apos;pageNumber in pages.slice(page-1, page+5)&apos; @click=&apos;page = pageNumber&apos;)
|         | {{pageNumber}}
|       button.btn.btn-sm.btn-outline-secondary(type=&apos;button&apos; @click=&apos;page++&apos; v-if=&apos;page &lt; pages.length&apos;)  &gt;&gt;

        //- div.container
        //-     div.row
        //-         h1 #{h1} 
        //- div.container
        //-     div.row       
        //-         button #{button}
        //- div.container
        //-     div.row  
        //-     img(src="/img/Shape 4.png", alt="Shape")
        //-     img #{img}                
                
        